footer
  height: 100vh;
  background-color: black;
  color: white;
  .footer-wrap
    height: 85vh;
    padding: 10vh 12% 5vh 12%;
    display: flex;
    flex-direction: column;
    .idea
      flex-grow: 4;
      h2 
        font-size: 85px;
        font-weight: 500;
        margin: 0;
      .underline-shrink-animation
        font-weight: 400;
        font-size: 80px;
    .info
      display: grid;
      grid-template-columns: 1fr 1fr;
      .contact
        display: flex;
        flex-direction: column;
        h4
          margin: 0;
        p 
          margin: 0;
      .footer-socs
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        a
          color: white;
      