.hero-wrap
  display: flex;
  .hero
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .titles
      .hero-sub-wrap
        overflow: hidden;
        .hero-subtitle
          margin-left: 10px;
          display: flex;
          font-size: 26px;
      .hero-title
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .hero-title-item
          font-size: 6vw;
          text-decoration: none
          +stroke
          &:hover
            -webkit-text-fill-color: black;

@media screen and ( max-width: 1200px )
  .hero-wrap
    .hero 
      .titles
        .hero-title
          flex-direction: column;
          text-align: left;
          .hero-title-item
            display: flex;
            margin-right: auto;
            font-size: 55px;
            border-bottom: 1px solid black;
            margin-bottom: 25px;
            a
              -webkit-text-fill-color: black;
          .large
            display: block;
@media screen and ( max-width: 775px )
  .hero-wrap
    .hero 
      .titles
        .hero-sub-wrap
          .hero-subtitle
            font-size: 18px;
        .hero-title
          .hero-title-item
            font-size: 45px;
            font-weight: 400;
  
        
      
  