.latest-news
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 13% 0 13%;
  margin-top: 300px;
  h1 
    //TODO: text down sizes at a break pt
    padding-left: 2%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #1a1a1a;
  .news-column
    padding-left: 6%;
    .news-post
      margin-bottom: 90px;
      p 
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 400;
      .news-date
        text-align: left;
        color: gray;
        font-size: 15px;