.head-wrap
  display: flex;
  justify-content: space-between;
  margin: 45px 45px 0 45px;
  .logo-navbar
    font-weight: 600;
    font-size: 25px;
  .navbar 
    display: flex;
    justify-content: center;
    .showreel-navbar
      margin-right: 60px;
    .menu-navbar
      margin-right: 25px;
    .bar-navbar
      cursor: pointer;
@media screen and ( max-width: 775px )
  .head-wrap
    .logo-navbar
    .navbar 
      .showreel-navbar
        display: none;